successful  <div class="field">
    <%= form.hidden_field :book_id, value: params[:book_id]  %>
  </div>


  <%= form_with model: @order,method: :post, data: {turbo:false} do |form|%>
  <div class="field">
    <%= form.hidden_field :book_id, value: params[:book_id]  %>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card mb-3" style="max-width: 840px; height:15rem;">
      
        <div class="row">
          <div class="col-md-3 mt-2 ">
            <div class="mt-3"><%= image_tag @book.cover_image, height:185, width:140 %></div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%=@book.title%></h5>
              <p class="lead"><%= truncate(@book.description, length: 100) %></p>
              <div class="actions">
                <%= form.submit 'Place Order' %>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="card-title">Quantity</h5>
            <div class="field">
              <%= form.fields_for :book_orders do |book_order_form| %>
                <div class="nested-fields">
                  <%= book_order_form.collection_select :book_id, @books, :id, :title, prompt: 'Select a book' %>
                  <%= book_order_form.number_field :quantity, in: 1..20 %>
                </div>
              <% end %>

              <%= link_to 'Add Book', '#', class: 'add-book-order', data: { association: 'book_orders', content: 'nested-fields' } %>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

<% end %>





<%= form_with model: @order, id: 'payment-form' do |form| %>
  <!-- Your form fields -->

  <div class="field">
    <%= form.fields_for :book_orders do |book_order_form| %>
      <div class="nested-fields">
        <%= book_order_form.collection_select :book_id, @books, :id, :title, prompt: 'Select a book' %>
        <%= book_order_form.number_field :quantity, in: 1..20 %>
      </div>
    <% end %>

    <%= link_to 'Add Book', '#', class: 'add-book-order', data: { association: 'book_orders', content: 'nested-fields' } %>
  </div>

  <div class="field">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
<% end %>


class BookOrdersController < ApplicationController
  def create
    @order = current_user.orders.last || current_user.orders.create
    @book = Book.find(params[:book_id])
    @order.books << @book unless @order.books.include?(@book)

    redirect_to @order, notice: 'Book added to cart.'
  end

  def destroy
    @order = current_user.orders.find(params[:order_id])
    @book_order = @order.book_orders.find(params[:id])
    @book_order.destroy

    redirect_to @order, notice: 'Book removed from cart.'
  end
end
    if @order.save
      session = Stripe::Checkout::Session.create(
        payment_method_types: ['card'],
        line_items: [{
          price_data: {
            currency: 'usd',
            product_data: {
              name:"BOOK",
            },
            unit_amount: 5000,
          },
          quantity: 1,
        }],
        success_url: order_url(@order),
        cancel_url: orders_url,
      )

      @order.update(checkout_session_id: session.id)

      redirect_to session.url, notice: 'Order was successfully created.'
    else
      render :new
    end

              <div class="field">
            <%= book_order_form.label :book %><br>
            <%= book_order_form.collection_select :book_id, @books, :id, :title, prompt: 'Select a book', class:"form-control" %>
          </div>

          <div class="field">
            <%= book_order_form.label :quantity %>
            <%= book_order_form.number_field :quantity, class:"form-control"  %>
          </div>