<h1>Search Results for "<%= @query %>"</h1>
<div class="row">

  <% if @books.any? %>
    <% @books.each do |book| %>
      <div class="col-md-3">
        <div class="card my-3" style="width:250px; height:400">
          <a href=<%= category_book_path(book.category, book)%> class="mx-auto">
              <%= image_tag rails_blob_path(book.cover_image, only_path: true), height:250, width: 200,  class: "my-2"%>
          </a>
          <div class="card-body text-center">
              <strong><%= truncate(book.title, length: 20) %></strong><br/>
          </div>
          <div class="card-footer text-center" style="border-top:none;">
            <strong class="badge rounded-pill bg-dark ">Price: <%= book.price %></strong>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="mt-4">No results found.</h3>
  <% end %>
</div>