<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="<%= root_path%>">
      <img alt=" logo" width="7%" src="/assets/book2.png"> ThriftBooks  </a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      
          <div>
            <form class="d-flex" action="<%= search_books_path %>" method="get">
              <input class="form-control me-2" type="search" name="q" placeholder="Search books" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">Search</button>
            </form>
          </div>

        <% if user_signed_in? %> 
          <div class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Edit Profile ', edit_user_registration_path,class:"dropdown-item my-1 me-auto" %>
              <li><a class="dropdown-item" href="#">Something</a></li>
              <li><hr class="dropdown-divider"></li>
              <%= button_to "Sign out", destroy_user_session_path, class: "dropdown-item  my-1 me-auto", method: :delete %> 
            </ul>
          </div>
        <%else%>
          <div class="d-flex"><%= link_to "Sign in", new_user_session_path, class:"nav-link active"  %><p class="mt-2">/</p>
          <%= link_to "Sign up", new_user_registration_path	, class:"nav-link active" %></div>
        <%end%>
      </ul>
    </div>
  </div>
</nav>